{% extends 'base.html.twig'%}
{% block body %}

<h1>Bienvenue dans mon service!</h1


<p>Je te souhaite la bienvenue parmi nous. 
Je suis très content de t'accueillir aujourd'hui et j'espère que tu te plairas ici. 
N'hésite pas à me solliciter si tu as besoin de quoi que ce soit, je me ferai un plaisir de t'apporter mon aide. 
Encore bienvenu !</p>

<p>Je te souhaite la bienvenue parmi nous. 
Je suis très content de t'accueillir aujourd'hui et j'espère que tu te plairas ici. 
N'hésite pas à me solliciter si tu as besoin de quoi que ce soit, je me ferai un plaisir de t'apporter mon aide. 
Encore bienvenu !</p>

{% endblock %}

