{% extends 'base.html.twig'%}
{% block body %}
        <employer>
            <h2>Services des employers</h2>
            <div class="identite">l'identifiant des employers</div>
            <div class="nom">
                <img src="http://placehold.it/350x150" alt="">
                <p> nomcomplet de l'employer dans le service</p>
                <hr>
                <p>L’explication argumentative consiste à expliquer quelque chose à un destinataire avec l’intention de l’influencer.
                    Elle utilise les pro­cédés de l’explication : la définition, l’illustra­tion, le recours à l’exemple, la description.
                    La démonstration consiste à justifier une thèse posée comme vraie en ayant recours à des raisonnements explicites.
                    Elle utilise un vocabulaire précis et univoque (non connoté), des liens explicites entre les phrases, 
                    un mode de raisonnement par déduc­tion qui marque nettement les rapports logiques (cause, but, comparaison, etc.).
                    La réfutation consiste à détruire une opi­nion adverse pour mieux défendre sa propre thèse. Elle utilise princi­palement 
                    les antithèses, l’opposition de champs lexicaux, les figures d’opposition et de concession.
                </p>

                <p>L’explication argumentative consiste à expliquer quelque chose à un destinataire avec l’intention de l’influencer.
                    Elle utilise les pro­cédés de l’explication : la définition, l’illustra­tion, le recours à l’exemple, la description.
                    La démonstration consiste à justifier une thèse posée comme vraie en ayant recours à des raisonnements explicites.
                    Elle utilise un vocabulaire précis et univoque (non connoté), des liens explicites entre les phrases, 
                    un mode de raisonnement par déduc­tion qui marque nettement les rapports logiques (cause, but, comparaison, etc.).
                    La réfutation consiste à détruire une opi­nion adverse pour mieux défendre sa propre thèse. Elle utilise princi­palement 
                    les antithèses, l’opposition de champs lexicaux, les figures d’opposition et de concession.
                </p>
            </div>
        </employer>
{% endblock %}